<p style="color: green"><%= notice %></p>

<% content_for :title, "Weather Forecast" %>

<h1>Weather Forecast</h1>

<div id="forecast">
    <div>
        <p>This result has<%= @cached ? "" : " not" %> been cached.</p>
        <p><%= @weather_data %></p>
    </div>
</div>
